<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/main/js/jquery-2.1.3.min.js}"></script>
    <script th:src="@{/main/js/day.js}" charset="utf-8"></script>
    <link rel="stylesheet" th:href="@{/main/css/movie_detail.css}">
    <script th:src="@{/main/js/vue.js}" charset="utf-8"></script>

</head>
<body>
<ul class="layui-nav" th:fragment="header">
    <li class="layui-nav-item"  style="margin-left: 520px;">
        <a th:href="@{/user/index}">正在热映<span class="layui-badge"></span></a>
    </li>
    <div class="layui-nav-item" style="float: right;margin-right: 550px;">
        <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">个人信息</a></dd>
            <dd><a href="javascript:;">我的订单</a></dd>
            <dd><a th:href="@{/user/logout}">退出登录</a></dd>
        </dl>
    </div>
<script th:src=" @{/main/js/axios.min.js}"></script>
<script th:inline="none">
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
    axios({
        url: '/movie/getLenReleased',
        type: 'GET',
    }).then(function (res) {
        let len = res.data.data;
        $(".layui-badge").html(len);
    })
</script>
</ul>

</body>
</html>
