<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xupt.ttms.mapper.SeatMapper">
    <resultMap id="BaseResultMap" type="com.xupt.ttms.pojo.Seat">
        <id property="id" column="id"></id>
        <result property="col" column="seat_column"></result>
        <result property="row" column="seat_row"></result>
        <result property="status" column="seat_status"></result>
        <result property="studioId" column="studio_id"></result>
        <association property="hall" javaType="com.xupt.ttms.pojo.Hall">
            <result property="hname" column="h_name"></result>
        </association>
    </resultMap>
    <select id="getSeatList" resultMap="BaseResultMap">
        select s.id, s.seat_column, s.seat_row, s.seat_status,h.h_name
        from seat s,hall h
        where s.studio_id = #{studioId} and h.id = #{studioId};
    </select>
    <select id="getId" resultType="integer">
        select id from seat
        <where>
                seat_column = #{seat.col}
                and seat_row = #{seat.row}
                and studio_id = #{seat.studioId}
        </where>
    </select>
<!--    批量修改座位-->
    <update id="updateSeats">
        <foreach collection="seats" item="seat" separator=";">
        update seat set seat_status = #{seat.status}
        where seat_column = #{seat.col}
        and seat_row = #{seat.row}
        and studio_id = #{seat.studioId}
        </foreach>
    </update>
    <update id="updateTicket">
        <foreach collection="seats" item="seat" separator=";">
            update ticket set ticket_status = #{seat.status}
            where seat_id = #{seat.id}
        </foreach>
    </update>
    <insert id="insertSeat">
        insert into seat value
        <foreach collection="seat" item="seat" separator=",">
            (null,#{seat.studioId},#{seat.row},#{seat.col},#{seat.status})
        </foreach>
    </insert>
</mapper>