<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xupt.ttms.mapper.TicketMapper">
    <resultMap id="BaseResultMap" type="com.xupt.ttms.pojo.Ticket">
        <id column="id" property="id"></id>
        <result column="seat_id" property="seatId"></result>
        <result column="plan_id" property="planId"></result>
        <result column="ticket_price" property="ticketPrice"></result>
        <result column="ticket_status" property="status"></result>
        <result column="ticket_locktime" property="ticketLockTome"></result>
        <result column="seat_column" property="col"></result>
        <result column="seat_row" property="row"></result>
        <result column="order_id" property="orderId"></result>
    </resultMap>
    <insert id="insertTicker">
        insert into ticket (seat_id, plan_id, ticket_price, ticket_status) values
        <foreach collection="list" item="ticket" separator=",">
            (#{ticket.seatId},#{ticket.planId},#{ticket.ticketPrice},#{ticket.status})
        </foreach>
    </insert>
    <update id="updateTicket">
        <foreach collection="seats" item="seat" separator=";">
            update ticket set ticket_status = #{seat.status} where seat_id = #{seat.id}
        </foreach>
    </update>
    <update id="LockTicket">
        <foreach collection="seats" item="seat" separator=";">
            update ticket set ticket_status = 2,ticket_locktime = now()
            where   plan_id in (#{pId}) and seat_id in (select id from seat where seat_row = #{seat.row} and seat_column = #{seat.col})
        </foreach>
    </update>
    <update id="UnLockTicket">
        <foreach collection="seats" item="seat" separator=";">
            update ticket set ticket_status = 1,ticket_locktime = null
            where   plan_id in (#{pId}) and seat_id in (select id from seat where seat_row = #{seat.row} and seat_column = #{seat.col})
        </foreach>
    </update>
    <update id="updateOrderNo">
        <foreach collection="seats" item="seat" separator=";">
            update ticket set order_id = #{orderId}
            where   plan_id in (#{pId}) and seat_id in (select id from seat where seat_row = #{seat.row} and seat_column = #{seat.col})
        </foreach>
    </update>
    <delete id="deleteTicket">
        delete from ticket where ticket.plan_id in
        <foreach collection="list" item="plan" open="(" close=")" separator=",">
            #{plan.id}
        </foreach>
    </delete>
    <delete id="deleteTicketByPIds">
        delete
        from ticket
        where plan_id in (#{pIds});
    </delete>
    <update id="deleteOrder">
       update ticket set order_id = null,ticket_status=1 where order_id = #{dataId};
    </update>
    <select id="getTicketBySeats" resultType="java.lang.Integer">
        select count(*) from ticket where ticket.seat_id in
        <foreach collection="seats" item="seat" open="(" close=")" separator=",">
            #{seat.id}
        </foreach>
    </select>
    <select id="getTicketsByPId" resultMap="BaseResultMap">
        select id,
               seat_id,
               plan_id,
               ticket_price,
               ticket_status,
               ticket_locktime,
               (select seat_column from seat s where s.id = t.seat_id) as seat_column,
               (select seat_row from seat s where s.id = t.seat_id)    as seat_row
        from ticket t
        where plan_id in (#{pId});
    </select>
</mapper>